#slider-container {
    width: 100%;
    margin: 0 auto;
    background: red;
    height: 700px;
    
    
}

.slider-wrapper { 
    position: relative;
    height: 100%;
    background: blue;
}

.slider-wrapper li {       
    display: none;    
}
.slider-wrapper li img{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    
 }
li.slide-current { 
    display: block; 
    position: initial
}