html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}
#slider-container {
    width: 100%;
    margin: 0 auto;
    background-color: #9BA2AB;
    display: block; 
    overflow: hidden;
    position: relative;
    
}

#slider-container div { 
    position:absolute;
    top:0;
    left:0;
    width: 100%;
}
#slider-container img{ 
    
    width: 100%;
    
}
#activeSliderImg img
{   
    display: block;
 }
