.blogContainer {
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1100px;
    text-align: center;
}

.blogCardsSection {
    display: flex;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.blog {
    width: 30%;
    padding: 5px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background: white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
    text-decoration-line: none !important;
    display: table;
}

.blog img {
    width: 100%;
}

.blog h5 {
    color: #4d4c4b;
    text-decoration-line: none !important;
    text-transform: uppercase;
    margin: 10px 0;
}

.blogMas {
    margin-top: 15px;
}

@media screen and (max-width: 1000px) {
    .blogContainer {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .blog {
        width: 46%;
        margin-top: 25px;
    }
}

@media screen and (max-width: 600px) {
    .blog {
        width: 92%;
        margin: 0 auto;
        margin-top: 25px;
    }
    .blog div {
        display: none
    }
    .blog img {
        display: block;
        width: 100%;
    }
}